@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-desktop.svg);
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
header{
  padding: 50px 100px;
  margin-bottom: 20px;
}
header .logo{
  width: 220px;
}
main{
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}
.container{
  display: flex;
  justify-content: center;
  gap: 5%;
}
.img img{
width: 100%;
min-width: 600px;
}
.info{
  width: 40%;
}
.title{
  font-family: 'Poppins', sans-serif;
  margin: 20px 0;
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
}
.text{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  opacity: 0.8;
}
button{
  font-size: 1.2rem;
  width: 12rem;
  color: hsl(257, 40%, 49%);
  padding: 13px 0;
  border-radius: 50px;
  background-color: white;
  border-style: none;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 50%);
}
button:hover{
  color: white;
  background-color: hsl(300, 69%, 71%);
}
footer{
  display: flex;
  justify-content: flex-end;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}
footer .icons{
  font-size: 1.3rem;
}
footer .icons i{
  width: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: white;
  margin: 7px;
  text-align: center;
  padding: 10px;
}
footer .icons i:hover{
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}
@media (min-width:1260px){
  footer{
    margin-top: -40px;
  }
  }
@media (max-width:1185px){
  .container{
    flex-direction: column;
    text-align: center;
  }
  .img img{
    width: 80%;
    min-width: 300px;
    }
    .info{
      width: 100%;
      text-align: center;
    }
    .button{
      text-align: center;
    }
}
@media (max-width:707px){
  header{
    padding: 50px 10px;
  }
  header .logo {
    width: 190px;
  }  
  body{
    background-image: url(../images/bg-mobile.svg);
  }
  .container{
    flex-direction: column;
    text-align: center;
  }
  .img img{
    width: 80%;
    min-width: 300px;
    }
    .info{
      width: 100%;
      text-align: center;
    }
    .title{
      font-size: 1.7rem;
    }
    .text{
      font-size: 1rem;
    }
    .button{
      text-align: center;
    }
    footer {
      margin: 40px;
      margin-left: auto;
      margin-right: auto;
    }
    footer .icons{
      margin-left: auto;
      margin-right: auto;
    }
}